<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tempalate is working</title>
</head>
<body>
<h1>Welcome to test analyaser. Enter Your text below</h1>
<form action="/Analyse" method="post">
    <textarea
        name ='text' style='margin: 0px; width :721px; height: 93px;'></textarea><br>
    <input type="checkbox" name="Removepunc" >Remove punctuations<br>
    <input type="checkbox" name="Fullcaps" >Uppercase<br>
    <input type="checkbox" name="NewlineRemover" >Newlineremove<br>
    <input type="checkbox" name="Extraspaceremover" >Extraspaceremover<br>
    <button type="submit">Analyze text </button>
</form>
</body>
</html>